@media screen and (max-width: 1000px) {
  .stretching {
    font-size: 25px;
  }
}

@media screen and (max-width: 1950px) {
  footer {
    height: 300px;
  }
  .info-footer,
  .contacts {
    margin-left: 25%;
  }
}

@media screen and (max-width: 1450px) {
  footer {
    height: 300px;
  }
  .info-footer,
  .contacts {
    margin: 0;
  }
}

@media screen and (max-width: 990px) {
  .contacts {
    font-size: 50px;
    line-height: 150px;
    margin-left: 100px;
    display: block;
    line-height: normal;
  }
  .contacts a {
    font-size: 40px;
  }

  .info-footer {
    text-align: center;
    line-height: normal;
    margin: 10px;
  }
}
